REACT_APP_PETFINDER_API_KEY=XXXxxx
REACT_APP_PETFINDER_CLIENT_SECRET=XXXxxx
REACT_APP_FIREBASE_API_KEY=XXXxxx
REACT_APP_FIREBASE_AUTH_DOMAIN=XXXxxx
REACT_APP_FIREBASE_PROJECT_ID=XXXxxx
REACT_APP_FIREBASE_STORAGE_BUCKET=XXXxxx
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=XXXxxx
REACT_APP_FIREBASE_APP_ID=XXXxxx